<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index books</title>
</head>
<body>

<a th:if="${page} == null ">

    <div th:each="book: ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getNameOfBook()+ ', '+ book.getAuthor() + ', ' + book.getYear()} "> book </a>
    </div>
</a>

<a th:if="${page} != null ">

    <div th:each="i : ${#numbers.sequence(page * books_per_page, (page + 1) * books_per_page - 1)}">
        <a th:if="${i lt books.size()}" th:href="@{/books/{id}(id=${books[i].getId()})}"
           th:text="${books[i].getNameOfBook() + ', ' + books[i].getAuthor() + ', ' + books[i].getYear()}">book</a>
    </div>
</a>


<br>
<hr/>


<a th:href="@{/books/new}"> Create a new book</a>


</body>
</html>